<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PostalCode.Properties.Settings.TRAFFIC_COLLISIONConnectionString"
            connectionString="Data Source=WIN-FSBHP3NVE9G;Initial Catalog=TRAFFIC_COLLISION;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>